<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jquery-list</title>
    <style>
        .done{
            text-decoration: line-through;
            color: #eee;
        }
        li{
            cursor: pointer;
        }
    </style>
</head>
<body>  
 
   <div id="app">
    <input type="text" class="input" v-model="inputVal">
  {{ inputVal }}
   <p>列表：</p>
   <ul>
       <li
       v-for="(item,index) in list"
       >
       {{ item.text }}
    </li>
   </ul>
</div>
   <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.2/vue.global.js"></script>
<script>  
const Todo = {
    data(){
        return { 
            list:[
                {text:'哈哈哈',
            done:false,}
            ],
            inputVal: '',
        };
    },
};
Vue.createApp(Todo).mount('#app');
</script>
</body>
</html>